<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ZzuliProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/webdb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ReadWebConfig</servlet-name>
    <servlet-class>com.home.read.ReadWebConfig</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.admin.web.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>LOGIN_USERNAME</param-name>
      <param-value>username</param-value>
    </init-param>
    <init-param>
      <param-name>SHOW_LOGIN_PATH</param-name>
      <param-value>/admin.ado</param-value>
    </init-param>
    <init-param>
      <param-name>DO_LOGIN_PATH</param-name>
      <param-value>/login.ado</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.ado</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/resources/view/404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>LoadHomePageInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadHomePageInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHomePageInfoServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsNewsInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsNewsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsNewsInfoServlet</servlet-name>
    <url-pattern>/newsdetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsRulesInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsRulesInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsRulesInfoServlet</servlet-name>
    <url-pattern>/ruledetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsResearchInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsResearchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsResearchInfoServlet</servlet-name>
    <url-pattern>/researchdetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsAchievementZhuanInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsAchievementZhuanInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsAchievementZhuanInfoServlet</servlet-name>
    <url-pattern>/achievementdetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsPersonInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsPersonInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsPersonInfoServlet</servlet-name>
    <url-pattern>/persondetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadNewsInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadNewsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadNewsInfoServlet</servlet-name>
    <url-pattern>/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadResearchInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadResearchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResearchInfoServlet</servlet-name>
    <url-pattern>/research.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadIntroduceInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadIntroduceInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadIntroduceInfoServlet</servlet-name>
    <url-pattern>/introduce.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadCommitteeInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadCommitteeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCommitteeInfoServlet</servlet-name>
    <url-pattern>/committee.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadRulesInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadRulesInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadRulesInfoServlet</servlet-name>
    <url-pattern>/rules.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadPersonInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadPersonInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPersonInfoServlet</servlet-name>
    <url-pattern>/person.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadPersonIntroInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadPersonIntroInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPersonIntroInfoServlet</servlet-name>
    <url-pattern>/personintro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadStudentInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStudentInfoServlet</servlet-name>
    <url-pattern>/student.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadAchievementInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadAchievementInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAchievementInfoServlet</servlet-name>
    <url-pattern>/achievement.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadAchievementZhuanInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadAchievementZhuanInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAchievementZhuanInfoServlet</servlet-name>
    <url-pattern>/achievementzhuan.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDocumentInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDocumentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDocumentInfoServlet</servlet-name>
    <url-pattern>/document.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadEmployInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadEmployInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadEmployInfoServlet</servlet-name>
    <url-pattern>/employ.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadContactInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadContactInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadContactInfoServlet</servlet-name>
    <url-pattern>/contact.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadInstrumentInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadInstrumentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadInstrumentInfoServlet</servlet-name>
    <url-pattern>/instrument.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadInstrumentRuleInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadInstrumentRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadInstrumentRuleInfoServlet</servlet-name>
    <url-pattern>/instrumentrule.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsInstrumentInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsInstrumentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsInstrumentInfoServlet</servlet-name>
    <url-pattern>/instrumentdestails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadDetailsInstrumentRuleInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadDetailsInstrumentRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDetailsInstrumentRuleInfoServlet</servlet-name>
    <url-pattern>/inruledestails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadLoginServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.LoadLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadLoginServlet</servlet-name>
    <url-pattern>/admin.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadAdminPageViewServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.LoadAdminPageViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAdminPageViewServlet</servlet-name>
    <url-pattern>/aindex.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DealLoginServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DealLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealLoginServlet</servlet-name>
    <url-pattern>/login.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditorUploadImgServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.EditorUploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorUploadImgServlet</servlet-name>
    <url-pattern>/EditorUpload.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ProcessUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <url-pattern>/processUpload.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/addnews.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.home.web.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRuleServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddRuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRuleServlet</servlet-name>
    <url-pattern>/addrule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddResearchServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddResearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResearchServlet</servlet-name>
    <url-pattern>/addresearch.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAchievementServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddAchievementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAchievementServlet</servlet-name>
    <url-pattern>/addachievement.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddIntroduceServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddIntroduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIntroduceServlet</servlet-name>
    <url-pattern>/addintroduce.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowIntroduceInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowIntroduceInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIntroduceInfoServlet</servlet-name>
    <url-pattern>/showintroduce.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeIntroInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeIntroInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeIntroInfoServlet</servlet-name>
    <url-pattern>/writeintroduce.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowNewsListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowNewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewsListServlet</servlet-name>
    <url-pattern>/newslist.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeNewsInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeNewsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeNewsInfoServlet</servlet-name>
    <url-pattern>/updatenews.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNewsInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateNewsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsInfoServlet</servlet-name>
    <url-pattern>/dealupdatenews.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNewsInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteNewsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsInfoServlet</servlet-name>
    <url-pattern>/deletenews.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowRulesListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowRulesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRulesListServlet</servlet-name>
    <url-pattern>/ruleslist.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeRuleInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeRuleInfoServlet</servlet-name>
    <url-pattern>/updaterule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteRuleInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRuleInfoServlet</servlet-name>
    <url-pattern>/deleterule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRuleInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRuleInfoServlet</servlet-name>
    <url-pattern>/dealupdaterule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowResearchListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowResearchListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResearchListServlet</servlet-name>
    <url-pattern>/researchlist.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteResearchInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteResearchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResearchInfoServlet</servlet-name>
    <url-pattern>/deleteresearch.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeResearchInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeResearchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeResearchInfoServlet</servlet-name>
    <url-pattern>/updateresearch.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateResearchInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateResearchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateResearchInfoServlet</servlet-name>
    <url-pattern>/dealupdateresearch.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentInfoServlet</servlet-name>
    <url-pattern>/showstudent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeStudentInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeStudentInfoServlet</servlet-name>
    <url-pattern>/updatestudent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUpdateStudentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddUpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpdateStudentServlet</servlet-name>
    <url-pattern>/dealupdateStudent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEmployInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowEmployInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployInfoServlet</servlet-name>
    <url-pattern>/showemploy.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeEmployInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeEmployInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeEmployInfoServlet</servlet-name>
    <url-pattern>/updateemploy.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUpdateEmployServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddUpdateEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpdateEmployServlet</servlet-name>
    <url-pattern>/dealupdateemploy.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowContactInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowContactInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowContactInfoServlet</servlet-name>
    <url-pattern>/showcontact.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeContactInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeContactInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeContactInfoServlet</servlet-name>
    <url-pattern>/updatecontact.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUpdateContactServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddUpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpdateContactServlet</servlet-name>
    <url-pattern>/dealupdatecontact.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDocumentListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowDocumentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDocumentListServlet</servlet-name>
    <url-pattern>/showdocument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDocumentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocumentServlet</servlet-name>
    <url-pattern>/deletedocument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAchievementInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowAchievementInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAchievementInfoServlet</servlet-name>
    <url-pattern>/showachievement.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAchievementInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteAchievementInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAchievementInfoServlet</servlet-name>
    <url-pattern>/deleteachievement.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeAchievementInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeAchievementInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeAchievementInfoServlet</servlet-name>
    <url-pattern>/updateachievement.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAchievementZhuanServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateAchievementZhuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAchievementZhuanServlet</servlet-name>
    <url-pattern>/dealupdateaczhuan.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAchievementLunwenServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateAchievementLunwenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAchievementLunwenServlet</servlet-name>
    <url-pattern>/dealupdateaclun.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAchievementLunServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddAchievementLunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAchievementLunServlet</servlet-name>
    <url-pattern>/addaclun.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowInstrumentRulesListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowInstrumentRulesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInstrumentRulesListServlet</servlet-name>
    <url-pattern>/showinstrumentrule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInstrumentRuleInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteInstrumentRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstrumentRuleInfoServlet</servlet-name>
    <url-pattern>/deleteinstrumentrule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInstrumentRuleServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddInstrumentRuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstrumentRuleServlet</servlet-name>
    <url-pattern>/addinstrumentrule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateInstrumentRuleInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateInstrumentRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInstrumentRuleInfoServlet</servlet-name>
    <url-pattern>/dealupdateinsrule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeInstrumentRuleInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeInstrumentRuleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeInstrumentRuleInfoServlet</servlet-name>
    <url-pattern>/updateinsrule.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowInstrumentListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowInstrumentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInstrumentListServlet</servlet-name>
    <url-pattern>/showinstrument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInstrumentInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteInstrumentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstrumentInfoServlet</servlet-name>
    <url-pattern>/deleteinstrument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessUploadImageServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ProcessUploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUploadImageServlet</servlet-name>
    <url-pattern>/insuploadimage.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInstrumentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddInstrumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstrumentServlet</servlet-name>
    <url-pattern>/addinstrument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeInstrumentInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeInstrumentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeInstrumentInfoServlet</servlet-name>
    <url-pattern>/updateinstrument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateInstrumentInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateInstrumentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInstrumentInfoServlet</servlet-name>
    <url-pattern>/dealupdateinstrument.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPersonIntroInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowPersonIntroInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPersonIntroInfoServlet</servlet-name>
    <url-pattern>/personintro.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributePersonIntroInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributePersonIntroInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributePersonIntroInfoServlet</servlet-name>
    <url-pattern>/updatepersonintro.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUpdatePersonIntroServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddUpdatePersonIntroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpdatePersonIntroServlet</servlet-name>
    <url-pattern>/dealupdatepersonintro.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPersonListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowPersonListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPersonListServlet</servlet-name>
    <url-pattern>/showperson.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePersonInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeletePersonInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePersonInfoServlet</servlet-name>
    <url-pattern>/deleteperson.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPersonServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPersonServlet</servlet-name>
    <url-pattern>/addperson.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributePersonInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributePersonInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributePersonInfoServlet</servlet-name>
    <url-pattern>/updateperson.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePersonInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdatePersonInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonInfoServlet</servlet-name>
    <url-pattern>/dealupdateperson.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCommitteeListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowCommitteeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCommitteeListServlet</servlet-name>
    <url-pattern>/showcommittee.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDirectorCommitteeServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddDirectorCommitteeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDirectorCommitteeServlet</servlet-name>
    <url-pattern>/adddirectorcommittee.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOtherCommitteeServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddOtherCommitteeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOtherCommitteeServlet</servlet-name>
    <url-pattern>/addothercommittee.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUpdateCommitteeIntroServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddUpdateCommitteeIntroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpdateCommitteeIntroServlet</servlet-name>
    <url-pattern>/dealupdatecommitteeintro.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeCommitteeIntroInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeCommitteeIntroInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeCommitteeIntroInfoServlet</servlet-name>
    <url-pattern>/updatecommitteeintro.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCommitteeInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteCommitteeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommitteeInfoServlet</servlet-name>
    <url-pattern>/deletecommittee.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeCommitteeInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeCommitteeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeCommitteeInfoServlet</servlet-name>
    <url-pattern>/updatecommittee.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCommitteeInfoServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateCommitteeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommitteeInfoServlet</servlet-name>
    <url-pattern>/dealupdatecommittee.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserPasswordServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateUserPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPasswordServlet</servlet-name>
    <url-pattern>/dealupdatepassword.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadFoundationInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadFoundationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFoundationInfoServlet</servlet-name>
    <url-pattern>/foundation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadProvincialInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadProvincialInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProvincialInfoServlet</servlet-name>
    <url-pattern>/provincial.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadHorizontalCooperationInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadHorizontalCooperationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHorizontalCooperationInfoServlet</servlet-name>
    <url-pattern>/horizontalCooperation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadResultAwardsInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadResultAwardsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResultAwardsInfoServlet</servlet-name>
    <url-pattern>/reward.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadResultIdentificationInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadResultIdentificationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResultIdentificationInfoServlet</servlet-name>
    <url-pattern>/identification.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadResultPatentInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadResultPatentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResultPatentInfoServlet</servlet-name>
    <url-pattern>/patent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadResultThesisInfoServlet</servlet-name>
    <servlet-class>com.home.web.servlet.LoadResultThesisInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadResultThesisInfoServlet</servlet-name>
    <url-pattern>/thesis.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProjectFoundationListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowProjectFoundationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectFoundationListServlet</servlet-name>
    <url-pattern>/showfoundation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProjectProvincialListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowProjectProvincialListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectProvincialListServlet</servlet-name>
    <url-pattern>/showprovincial.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowProjectHorizontalCooperationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowProjectHorizontalCooperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProjectHorizontalCooperationServlet</servlet-name>
    <url-pattern>/showcooperation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowResultRewardListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowResultRewardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResultRewardListServlet</servlet-name>
    <url-pattern>/showrewards.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowResultPatentListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowResultPatentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResultPatentListServlet</servlet-name>
    <url-pattern>/showpatent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowResultThesisListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowResultThesisListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResultThesisListServlet</servlet-name>
    <url-pattern>/showthesis.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowResultIdentificationListServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.ShowResultIdentificationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResultIdentificationListServlet</servlet-name>
    <url-pattern>/showidentification.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFoundationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddFoundationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoundationServlet</servlet-name>
    <url-pattern>/addfoundation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProvincialServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddProvincialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProvincialServlet</servlet-name>
    <url-pattern>/addprovincial.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddHorizontalCooperationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddHorizontalCooperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHorizontalCooperationServlet</servlet-name>
    <url-pattern>/addcooperation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRewardsServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddRewardsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRewardsServlet</servlet-name>
    <url-pattern>/addrewards.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPatentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddPatentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatentServlet</servlet-name>
    <url-pattern>/addpatent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddThesisServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddThesisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddThesisServlet</servlet-name>
    <url-pattern>/addthesis.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddIdentificationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.AddIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIdentificationServlet</servlet-name>
    <url-pattern>/addidentification.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeProjectFoundationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeProjectFoundationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeProjectFoundationServlet</servlet-name>
    <url-pattern>/updatefoundation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeProjectProvincialServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeProjectProvincialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeProjectProvincialServlet</servlet-name>
    <url-pattern>/updateprovincial.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeHorizontalCooperationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeHorizontalCooperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeHorizontalCooperationServlet</servlet-name>
    <url-pattern>/updatecooperation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeResultRewardsServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeResultRewardsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeResultRewardsServlet</servlet-name>
    <url-pattern>/updaterewards.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeResultThesisServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeResultThesisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeResultThesisServlet</servlet-name>
    <url-pattern>/updatethesis.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeResultPatentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeResultPatentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeResultPatentServlet</servlet-name>
    <url-pattern>/updatepatent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistributeResultIdentificationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DistributeResultIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeResultIdentificationServlet</servlet-name>
    <url-pattern>/updateidentification.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateFoundationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateFoundationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoundationServlet</servlet-name>
    <url-pattern>/dealupdatefoundation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProvincialServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateProvincialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProvincialServlet</servlet-name>
    <url-pattern>/dealupdateprovincial.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateHorizontalCooperationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateHorizontalCooperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHorizontalCooperationServlet</servlet-name>
    <url-pattern>/dealupdatecooperation.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRewardsServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateRewardsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRewardsServlet</servlet-name>
    <url-pattern>/dealupdaterewards.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePatentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdatePatentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatentServlet</servlet-name>
    <url-pattern>/dealupdatepatent.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateIdentificationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIdentificationServlet</servlet-name>
    <url-pattern>/dealupdateidentification.ado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateThesisServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.UpdateThesisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateThesisServlet</servlet-name>
    <url-pattern>/dealupdatethesis.ado</url-pattern>
  </servlet-mapping>
  
  <!-- 删除 -->
   <servlet>
    <servlet-name>DeleteFoundationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteFoundationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoundationServlet</servlet-name>
    <url-pattern>/deletefoundation.ado</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>DeleteProvincialServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteProvincialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProvincialServlet</servlet-name>
    <url-pattern>/deleteprovincial.ado</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>DeleteHorizontalCooperationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteHorizontalCooperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHorizontalCooperationServlet</servlet-name>
    <url-pattern>/deletecooperation.ado</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeleteResultRewardsServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteResultRewardsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResultRewardsServlet</servlet-name>
    <url-pattern>/deleterewards.ado</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteResultPatentServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteResultPatentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResultPatentServlet</servlet-name>
    <url-pattern>/deletepatent.ado</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteResultThesisServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteResultThesisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResultThesisServlet</servlet-name>
    <url-pattern>/deletethesis.ado</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteResultIdentificationServlet</servlet-name>
    <servlet-class>com.admin.web.servlet.DeleteResultIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResultIdentificationServlet</servlet-name>
    <url-pattern>/deleteidentification.ado</url-pattern>
  </servlet-mapping>
  
</web-app>